* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #000000;
    background-image: url('./assets/sprites/background01.png');
    background-size: cover;
    background-position: center;
}